@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 100% 98%;
    /* Light background */
    --foreground: 240 10% 5%;
    /* Darker foreground */
    --card: 255 100% 100%;
    /* White card */
    --card-foreground: 240 10% 5%;
    /* Darker text */
    --popover: 255 100% 100%;
    /* White popover */
    --popover-foreground: 240 10% 5%;
    /* Dark text for popover */
    --primary: 160 65% 45%;
    /* Emerald 500 */
    --primary-foreground: 255 100% 100%;
    /* White */
    --secondary: 240 5% 90%;
    /* Light gray */
    --secondary-foreground: 240 10% 10%;
    /* Dark gray text */
    --muted: 240 5% 90%;
    /* Muted background */
    --muted-foreground: 240 10% 30%;
    /* Muted text */
    --accent: 160 65% 45%;
    /* Emerald 500 */
    --accent-foreground: 255 100% 100%;
    /* White */
    --navbar: 240 5% 85%;
    /* Light gray for navbar and table headers */
    --navbar-foreground: 240 10% 20%;
    /* Darker gray text */
    --table-header: 240 5% 85%;
    /* Same as navbar */
    --table-header-foreground: 240 10% 20%;
    /* Darker gray text */
    --destructive: 0 84.2% 60.2%;
    /* Red 500 */
    --destructive-foreground: 0 0% 98%;
    /* White for destructive elements */
    --border: 240 5% 90%;
    --input: 240 5% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: #0a073d;
    /* Dark background */
    --foreground: 0 0% 95%;
    /* Light gray foreground */
    --card: #1a1a2e;
    /* Slightly lighter than background */
    --card-foreground: 0 0% 95%;
    /* Light text */
    --popover: #1a1a2e;
    --popover-foreground: 0 0% 95%;
    --primary: 160 65% 45%;
    /* Emerald 500 */
    --primary-foreground: 255 100% 100%;
    /* White */
    --secondary: 240 3% 20%;
    /* Darker gray for secondary elements */
    --secondary-foreground: 0 0% 95%;
    /* Light gray text */
    --muted: 240 3% 20%;
    /* Muted background */
    --muted-foreground: 240 10% 50%;
    /* Muted gray text */
    --accent: 160 65% 45%;
    /* Emerald 500 */
    --accent-foreground: 255 100% 100%;
    /* White */
    --navbar: 240 5% 15%;
    /* Dark gray for navbar and table headers */
    --navbar-foreground: 0 0% 95%;
    /* Light gray text */
    --table-header: 240 5% 15%;
    /* Same as navbar */
    --table-header-foreground: 0 0% 95%;
    /* Light gray text */
    --destructive: 0 62.8% 30.6%;
    /* Red 500 */
    --destructive-foreground: 0 0% 95%;
    /* Light text */
    --border: 240 3% 20%;
    --input: 240 3% 20%;
    --ring: 240 5% 83%;
  }

  body {
    @apply bg-background text-foreground;
  }

  nav,
  .menu {
    background-color: var(--navbar);
    color: var(--navbar-foreground);
  }

  th,
  td {
    background-color: var(--table-header);
    color: var(--table-header-foreground);
  }
}